<main>
  <section>
    <h1>SentryServ</h1>
    <h3>Inicia sesión</h3>
    <form [formGroup]="loginForm" (ngSubmit)="sendLogin()" class="login-form">
      <div class="form-group">
        <label for="username">Usuario</label>
        <input type="text" id="username" formControlName="username" placeholder="Introduce tu nombre de usuario">
        <div @errorAnimation *ngIf="loginForm.controls['username'].touched && loginForm.controls['username'].hasError('required')" class="error">
          <p >Usuario requerido</p>
        </div>
      </div>

      <div class="form-group">
        <label form="password">Contraseña</label>
        <input type="password" id="password" formControlName="password" placeholder="Introduce tu contraseña">
        <div class="error">
          <p @errorAnimation *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].hasError('required')">Contraseña requerida</p>
          <p @errorAnimation *ngIf="loginForm.controls['password'].hasError('minlength')">La contraseña debe tener al menos {{ passwordMinLen }} caracteres</p>
        </div>
      </div>

      <button type="submit" [disabled]="!loginForm.valid">Enviar</button>
    </form>
  </section>
</main>