<header [class.shrink]="headerShrunk">
    <div class="header-content">
        <h1><a class="link" href='/home'>SentryServ</a></h1>
    
        <div class="nav-sections">
            <ul>
                <li id="what_is_link" class="primary-text"><a class="link" (click)="scrollToSection('what_is')">What is</a></li>
                <li id="development_link" class="primary-text"><a class="link" (click)="scrollToSection('development')">Development</a></li>
                <li id="default1_link" class="primary-text"><a class="link" (click)="scrollToSection('default1')">Default-1</a></li>
                <li id="default2_link" class="primary-text"><a class="link" (click)="scrollToSection('default2')">Default-2</a></li>
                <li id="default3_link" class="primary-text"><a class="link" (click)="scrollToSection('default3')">Default-3</a></li>
            </ul>
        </div>
    </div>
</header>

<main [class.shrink]="headerShrunk">

    <section id="what_is" class="what-is">
         <h2 class="accent-1">What is?</h2>
         <p class="secondary-text">A <span class="text-highlight">self-hosted server</span>, which started with the idea of developing useful services, concentrated on a simple RaspberryPi.</p>
         <p class="secondary-text">The <span class="text-highlight">purpose</span> was to feed my desire to learn <span class="text-highlight">full-stack web development</span> and <span class="text-highlight">programming skills</span> in general, as well as to familiarize myself with <span class="text-highlight">Linux devices, databases, etc.</span></p>
         <p class="secondary-text">Now the purpose is  <span class="text-highlight">still the same</span>, although it has evolved a lot since I started this website in <span class="text-highlight">October 2023.</span></p> 
    </section>

    <mat-divider class="mat-divider"></mat-divider>

    <section id="development" class="development">
        <h2 class="accent-1">Development</h2>
        <p class="secondary-text">A <span class="text-highlight">self-hosted server</span>, which started with the idea of developing useful services, concentrated on a simple RaspberryPi.</p>
        <p class="secondary-text">The <span class="text-highlight">purpose</span> was to feed my desire to learn <span class="text-highlight">full-stack web development</span> and <span class="text-highlight">programming skills</span> in general, as well as to familiarize myself with <span class="text-highlight">Linux devices, databases, etc.</span></p>
        <p class="secondary-text">Now the purpose is  <span class="text-highlight">still the same</span>, although it has evolved a lot since I started this website in <span class="text-highlight">October 2023.</span></p> 
    </section>

    <mat-divider class="mat-divider"></mat-divider>

    <section id="default1" class="default-1">
        <h2 class="accent-1">Default1</h2>
        <p class="secondary-text">A <span class="text-highlight">self-hosted server</span>, which started with the idea of developing useful services, concentrated on a simple RaspberryPi.</p>
        <p class="secondary-text">The <span class="text-highlight">purpose</span> was to feed my desire to learn <span class="text-highlight">full-stack web development</span> and <span class="text-highlight">programming skills</span> in general, as well as to familiarize myself with <span class="text-highlight">Linux devices, databases, etc.</span></p>
        <p class="secondary-text">Now the purpose is  <span class="text-highlight">still the same</span>, although it has evolved a lot since I started this website in <span class="text-highlight">October 2023.</span></p> 
    </section>

    <mat-divider class="mat-divider"></mat-divider>

    <section id="default2" class="default-2">
        <h2 class="accent-1">Default2</h2>
        <p class="secondary-text">A <span class="text-highlight">self-hosted server</span>, which started with the idea of developing useful services, concentrated on a simple RaspberryPi.</p>
        <p class="secondary-text">The <span class="text-highlight">purpose</span> was to feed my desire to learn <span class="text-highlight">full-stack web development</span> and <span class="text-highlight">programming skills</span> in general, as well as to familiarize myself with <span class="text-highlight">Linux devices, databases, etc.</span></p>
        <p class="secondary-text">Now the purpose is  <span class="text-highlight">still the same</span>, although it has evolved a lot since I started this website in <span class="text-highlight">October 2023.</span></p> 
    </section>

    <mat-divider class="mat-divider"></mat-divider>

    <section id="default3" class="defaut-3">
        <h2 class="accent-1">Default3</h2>
        <p class="secondary-text">A <span class="text-highlight">self-hosted server</span>, which started with the idea of developing useful services, concentrated on a simple RaspberryPi.</p>
        <p class="secondary-text">The <span class="text-highlight">purpose</span> was to feed my desire to learn <span class="text-highlight">full-stack web development</span> and <span class="text-highlight">programming skills</span> in general, as well as to familiarize myself with <span class="text-highlight">Linux devices, databases, etc.</span></p>
        <p class="secondary-text">Now the purpose is  <span class="text-highlight">still the same</span>, although it has evolved a lot since I started this website in <span class="text-highlight">October 2023.</span></p> 
    </section>
</main>