/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Tema claro */
:root {
    /* Grey Scale */
    --white: #ffffff;
    --gray-50: #e0e0e0;
    --gray-100: #c0c0c0;
    --gray-500: #6c757d;
    --gray-700: #303030;
    --gray-800: #1C1C1C;
    --gray-900: #111111;
    --black: #000000;

    /* Accents */
    --primary-accent-500: #007bff;
    --primary-accent-600: #0056b3;
    --secondary-accent: ;
    --warn-accent: #f34b5c;
    --success-accent: #58a042;

    /*  */
    --b-radius-1: 4px;
    --b-radius-2: 8px;
}

html {
    scroll-behavior: smooth;
}

html, body { height: 100%;}
body { 
    margin: 0; 
    font-family: 'Montserrat','Segoe UI', Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--gray-900);
    color: var(--white);
}


.link {
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
}

.link:visited {
    color: inherit;
}

.link:hover {
    color: var(--white);
}

.svg-icon {
    width: 20px;
    height: 20px;
    color: var(--gray-100);
}

.svg-icon:hover {
    color: var(--white);
}

.cc-license {
    opacity: 0.755;
}