<!DOCTYPE html>
<html>
<head>
    <title>Highcharts with Flask</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
</head>
<body>
    <div id="container" style="width:100%; height: 50%;"></div>
    <form id="chart-form">
      <input id="time-s"type="text" name="time" value="24h">
      <input id="samples-s" type="number" name="samples" value=24>
      <button type="submit">Update</button>
    </form>

    <script>
      document.getElementById('chart-form').addEventListener('submit', function(e) {
            e.preventDefault();
            const time_s = document.getElementById('time-s').value;
            const samples_s = document.getElementById('samples-s').value;
            reload_chart(time_s, samples_s);
      });

      function reload_chart(time_s, samples_s){
        fetch(`/sensors/chart-data?sensor=1&time=${time_s}&samples=${samples_s}`)
            .then(response => response.json())
            .then(data => {
                Highcharts.chart('container', {
                    chart: {
                        type: 'spline',
                        zoomType: 'xy',
                    },
                    title: {
                        text: 'Sensor Data'
                    },
                    xAxis: {
                        categories: data.categories,
                        title: {
                            text: 'Date'
                        }
                    },
                    yAxis: {
                        title: {
                            text: 'ºC - %'
                        }
                    },
                    tooltip: {
                        shared: true,
                        crosshairs: true
                    },
                    plotOptions: {
                        series: {
                            marker: {
                                enabled: true,
                                radius: 3,
                                symbol: 'circle'
                            },
                            lineWidth: 2
                        }
                    },
                    legend: {
                        layout: 'horizontal',
                        backgroundColor: null,
                    },
                    series: data.series
                });
            });
      }
    </script>
</body>
</html>

